NOAA_to_Couchbase.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template><description>A complete workflow that pulls a single NOAA HCN weather file via FTP, parses it into Json objects representing a weather reading for a single day, then inserts into Couchbase.</description><name>NOAA_to_Couchbase</name><snippet><connections><id>1c53802f-e893-4564-8db3-af171d86c491</id><parentGroupId>4a88bb54-7095-486b-8aca-616756278d31</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>4a88bb54-7095-486b-8aca-616756278d31</groupId><id>76ebd125-8b3f-427a-a19f-bcb7e56b3c85</id><type>PROCESSOR</type></destination><flowFileExpiration>1 min</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>4a88bb54-7095-486b-8aca-616756278d31</groupId><id>d71dbf3b-cb45-49d7-be92-8602ce3ac5b0</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>b7c0fadb-255a-4c45-a27a-ce8152f7b1da</id><parentGroupId>4a88bb54-7095-486b-8aca-616756278d31</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>4a88bb54-7095-486b-8aca-616756278d31</groupId><id>c2700753-9a9f-480b-80eb-5c28514529db</id><type>PROCESSOR</type></destination><flowFileExpiration>1 min</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>4a88bb54-7095-486b-8aca-616756278d31</groupId><id>ae3126d9-5f8c-4e22-8f9c-90fd9eb65f50</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>b8824a8f-ba5c-4f64-834e-928d9b408486</id><parentGroupId>4a88bb54-7095-486b-8aca-616756278d31</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>1477.31201171875</x><y>807.6199798583984</y></bends><bends><x>1477.31201171875</x><y>857.6199798583984</y></bends><destination><groupId>4a88bb54-7095-486b-8aca-616756278d31</groupId><id>7fd28dee-7a3a-4ad6-b9f6-c625c9ab67d6</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>retry</selectedRelationships><source><groupId>4a88bb54-7095-486b-8aca-616756278d31</groupId><id>7fd28dee-7a3a-4ad6-b9f6-c625c9ab67d6</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>5dac357d-c407-4a9f-b32a-e9e6df545c09</id><parentGroupId>4a88bb54-7095-486b-8aca-616756278d31</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>4a88bb54-7095-486b-8aca-616756278d31</groupId><id>653537f3-2bf3-4b24-9263-08780f6b16bd</id><type>PROCESSOR</type></destination><flowFileExpiration>1 min</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>4a88bb54-7095-486b-8aca-616756278d31</groupId><id>4110298b-0bac-4967-81dc-232bd738fb5b</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>3ffffd48-6c77-4814-9ad7-0f9ffd26cf6a</id><parentGroupId>4a88bb54-7095-486b-8aca-616756278d31</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>4a88bb54-7095-486b-8aca-616756278d31</groupId><id>7a0f6323-aa40-49b5-8411-a38353c18092</id><type>PROCESSOR</type></destination><flowFileExpiration>1 min</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>splits</selectedRelationships><source><groupId>4a88bb54-7095-486b-8aca-616756278d31</groupId><id>1c509a6c-664e-482a-b1a0-4da1864d6998</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>60401f3f-fd89-42a7-bb23-a542e7e2363d</id><parentGroupId>4a88bb54-7095-486b-8aca-616756278d31</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>4a88bb54-7095-486b-8aca-616756278d31</groupId><id>1c509a6c-664e-482a-b1a0-4da1864d6998</id><type>PROCESSOR</type></destination><flowFileExpiration>1 min</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>4a88bb54-7095-486b-8aca-616756278d31</groupId><id>653537f3-2bf3-4b24-9263-08780f6b16bd</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>4263ed4e-03a1-44ac-908c-bddf5975a88c</id><parentGroupId>4a88bb54-7095-486b-8aca-616756278d31</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>4a88bb54-7095-486b-8aca-616756278d31</groupId><id>ae3126d9-5f8c-4e22-8f9c-90fd9eb65f50</id><type>PROCESSOR</type></destination><flowFileExpiration>1 min</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>matched</selectedRelationships><source><groupId>4a88bb54-7095-486b-8aca-616756278d31</groupId><id>7a0f6323-aa40-49b5-8411-a38353c18092</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>0e1186cd-b40b-41da-8fd1-6df6fda4d4b7</id><parentGroupId>4a88bb54-7095-486b-8aca-616756278d31</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>4a88bb54-7095-486b-8aca-616756278d31</groupId><id>4110298b-0bac-4967-81dc-232bd738fb5b</id><type>PROCESSOR</type></destination><flowFileExpiration>1 min</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>splits</selectedRelationships><source><groupId>4a88bb54-7095-486b-8aca-616756278d31</groupId><id>76ebd125-8b3f-427a-a19f-bcb7e56b3c85</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>9d0e0db3-c54b-4cc5-ad37-ca3be3254f0d</id><parentGroupId>4a88bb54-7095-486b-8aca-616756278d31</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>4a88bb54-7095-486b-8aca-616756278d31</groupId><id>7fd28dee-7a3a-4ad6-b9f6-c625c9ab67d6</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>4a88bb54-7095-486b-8aca-616756278d31</groupId><id>c2700753-9a9f-480b-80eb-5c28514529db</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><controllerServices><id>7235e6f0-fda1-4f5c-a459-4b9b6c091613</id><comments></comments><descriptors><entry><key>Connection String</key><value><description>The hostnames or ip addresses of the bootstraping nodes and optional parameters. Syntax) couchbase://node1,node2,nodeN?param1=value1&amp;param2=value2&amp;paramN=valueN</description><displayName>Connection String</displayName><dynamic>false</dynamic><name>Connection String</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><name>CouchbaseClusterService</name><properties><entry><key>Connection String</key><value>couchbase://couchbase.vagrant:8091</value></entry></properties><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Couchbase Cluster Controller Service</key><value><allowableValues><displayName>CouchbaseClusterService</displayName><value>7235e6f0-fda1-4f5c-a459-4b9b6c091613</value></allowableValues><description>A Couchbase Cluster Controller Service which manages connections to a Couchbase cluster.</description><displayName>Couchbase Cluster Controller Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.couchbase.CouchbaseClusterControllerService</identifiesControllerService><name>Couchbase Cluster Controller Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Bucket Name</key><value><defaultValue>default</defaultValue><description>The name of bucket to access.</description><displayName>Bucket Name</displayName><dynamic>false</dynamic><name>Bucket Name</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Document Type</key><value><allowableValues><displayName>Json</displayName><value>Json</value></allowableValues><allowableValues><displayName>Binary</displayName><value>Binary</value></allowableValues><defaultValue>Json</defaultValue><description>The type of contents.</description><displayName>Document Type</displayName><dynamic>false</dynamic><name>Document Type</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Document Id</key><value><description>A static, fixed Couchbase document id.Or an expression to construct the Couchbase document id.</description><displayName>Document Id</displayName><dynamic>false</dynamic><name>Document Id</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Persist To</key><value><allowableValues><displayName>MASTER</displayName><value>MASTER</value></allowableValues><allowableValues><displayName>NONE</displayName><value>NONE</value></allowableValues><allowableValues><displayName>ONE</displayName><value>ONE</value></allowableValues><allowableValues><displayName>TWO</displayName><value>TWO</value></allowableValues><allowableValues><displayName>THREE</displayName><value>THREE</value></allowableValues><allowableValues><displayName>FOUR</displayName><value>FOUR</value></allowableValues><defaultValue>NONE</defaultValue><description>Durability constraint about disk persistence.</description><displayName>Persist To</displayName><dynamic>false</dynamic><name>Persist To</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Replicate To</key><value><allowableValues><displayName>NONE</displayName><value>NONE</value></allowableValues><allowableValues><displayName>ONE</displayName><value>ONE</value></allowableValues><allowableValues><displayName>TWO</displayName><value>TWO</value></allowableValues><allowableValues><displayName>THREE</displayName><value>THREE</value></allowableValues><defaultValue>NONE</defaultValue><description>Durability constraint about replication.</description><displayName>Replicate To</displayName><dynamic>false</dynamic><name>Replicate To</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>4a88bb54-7095-486b-8aca-616756278d31</groupId><id>7fd28dee-7a3a-4ad6-b9f6-c625c9ab67d6</id><name>PutCouchbaseKey</name><properties><entry><key>Couchbase Cluster Controller Service</key><value>7235e6f0-fda1-4f5c-a459-4b9b6c091613</value></entry><entry><key>Bucket Name</key><value>weather</value></entry><entry><key>Document Type</key></entry><entry><key>Document Id</key><value>${docid}</value></entry><entry><key>Persist To</key></entry><entry><key>Replicate To</key></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>org.apache.nifi.processors.couchbase.PutCouchbaseKey</type></referencingComponents><state>ENABLED</state><type>org.apache.nifi.couchbase.CouchbaseClusterService</type></controllerServices><processors><id>d71dbf3b-cb45-49d7-be92-8602ce3ac5b0</id><parentGroupId>4a88bb54-7095-486b-8aca-616756278d31</parentGroupId><position><x>459.0</x><y>156.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Hostname</key><value><description>The fully qualified hostname or IP address of the remote system</description><displayName>Hostname</displayName><dynamic>false</dynamic><name>Hostname</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Port</key><value><defaultValue>21</defaultValue><description>The port that the remote system is listening on for file transfers</description><displayName>Port</displayName><dynamic>false</dynamic><name>Port</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Username</key><value><description>Username</description><displayName>Username</displayName><dynamic>false</dynamic><name>Username</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Password</key><value><description>Password for the user account</description><displayName>Password</displayName><dynamic>false</dynamic><name>Password</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Connection Mode</key><value><allowableValues><displayName>Active</displayName><value>Active</value></allowableValues><allowableValues><displayName>Passive</displayName><value>Passive</value></allowableValues><defaultValue>Passive</defaultValue><description>The FTP Connection Mode</description><displayName>Connection Mode</displayName><dynamic>false</dynamic><name>Connection Mode</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Transfer Mode</key><value><allowableValues><displayName>Binary</displayName><value>Binary</value></allowableValues><allowableValues><displayName>ASCII</displayName><value>ASCII</value></allowableValues><defaultValue>Binary</defaultValue><description>The FTP Transfer Mode</description><displayName>Transfer Mode</displayName><dynamic>false</dynamic><name>Transfer Mode</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Remote Path</key><value><description>The path on the remote system from which to pull or push files</description><displayName>Remote Path</displayName><dynamic>false</dynamic><name>Remote Path</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>File Filter Regex</key><value><description>Provides a Java Regular Expression for filtering Filenames; if a filter is supplied, only files whose names match that Regular Expression will be fetched</description><displayName>File Filter Regex</displayName><dynamic>false</dynamic><name>File Filter Regex</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Path Filter Regex</key><value><description>When Search Recursively is true, then only subdirectories whose path matches the given Regular Expression will be scanned</description><displayName>Path Filter Regex</displayName><dynamic>false</dynamic><name>Path Filter Regex</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Polling Interval</key><value><defaultValue>60 sec</defaultValue><description>Determines how long to wait between fetching the listing for new files</description><displayName>Polling Interval</displayName><dynamic>false</dynamic><name>Polling Interval</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Search Recursively</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true, will pull files from arbitrarily nested subdirectories; otherwise, will not traverse subdirectories</description><displayName>Search Recursively</displayName><dynamic>false</dynamic><name>Search Recursively</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Ignore Dotted Files</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>If true, files whose names begin with a dot (&quot;.&quot;) will be ignored</description><displayName>Ignore Dotted Files</displayName><dynamic>false</dynamic><name>Ignore Dotted Files</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Delete Original</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Determines whether or not the file is deleted from the remote system after it has been successfully transferred</description><displayName>Delete Original</displayName><dynamic>false</dynamic><name>Delete Original</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Connection Timeout</key><value><defaultValue>30 sec</defaultValue><description>Amount of time to wait before timing out while creating a connection</description><displayName>Connection Timeout</displayName><dynamic>false</dynamic><name>Connection Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Data Timeout</key><value><defaultValue>30 sec</defaultValue><description>Amount of time to wait before timing out while transferring data</description><displayName>Data Timeout</displayName><dynamic>false</dynamic><name>Data Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Selects</key><value><defaultValue>100</defaultValue><description>The maximum number of files to pull in a single connection</description><displayName>Max Selects</displayName><dynamic>false</dynamic><name>Max Selects</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Remote Poll Batch Size</key><value><defaultValue>5000</defaultValue><description>The value specifies how many file paths to find in a given directory on the remote system when doing a file listing. This value in general should not need to be modified but when polling against a remote system with a tremendous number of files this value can be critical.  Setting this value too high can result very poor performance and setting it too low can cause the flow to be slower than normal.</description><displayName>Remote Poll Batch Size</displayName><dynamic>false</dynamic><name>Remote Poll Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Use Natural Ordering</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true, will pull files in the order in which they are naturally listed; otherwise, the order in which the files will be pulled is not defined</description><displayName>Use Natural Ordering</displayName><dynamic>false</dynamic><name>Use Natural Ordering</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Proxy Type</key><value><allowableValues><displayName>DIRECT</displayName><value>DIRECT</value></allowableValues><allowableValues><displayName>HTTP</displayName><value>HTTP</value></allowableValues><allowableValues><displayName>SOCKS</displayName><value>SOCKS</value></allowableValues><defaultValue>DIRECT</defaultValue><description>Proxy type used for file transfers</description><displayName>Proxy Type</displayName><dynamic>false</dynamic><name>Proxy Type</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Proxy Host</key><value><description>The fully qualified hostname or IP address of the proxy server</description><displayName>Proxy Host</displayName><dynamic>false</dynamic><name>Proxy Host</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Proxy Port</key><value><description>The port of the proxy server</description><displayName>Proxy Port</displayName><dynamic>false</dynamic><name>Proxy Port</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Http Proxy Username</key><value><description>Http Proxy Username</description><displayName>Http Proxy Username</displayName><dynamic>false</dynamic><name>Http Proxy Username</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Http Proxy Password</key><value><description>Http Proxy Password</description><displayName>Http Proxy Password</displayName><dynamic>false</dynamic><name>Http Proxy Password</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Hostname</key><value>ftp.ncdc.noaa.gov</value></entry><entry><key>Port</key></entry><entry><key>Username</key><value>anonymous</value></entry><entry><key>Password</key></entry><entry><key>Connection Mode</key></entry><entry><key>Transfer Mode</key></entry><entry><key>Remote Path</key><value>/pub/data/ghcn/daily/hcn/</value></entry><entry><key>File Filter Regex</key><value>USC00410832.dly</value></entry><entry><key>Path Filter Regex</key></entry><entry><key>Polling Interval</key><value>60 sec</value></entry><entry><key>Search Recursively</key></entry><entry><key>Ignore Dotted Files</key></entry><entry><key>Delete Original</key><value>false</value></entry><entry><key>Connection Timeout</key></entry><entry><key>Data Timeout</key></entry><entry><key>Max Selects</key></entry><entry><key>Remote Poll Batch Size</key></entry><entry><key>Use Natural Ordering</key></entry><entry><key>Proxy Type</key></entry><entry><key>Proxy Host</key></entry><entry><key>Proxy Port</key></entry><entry><key>Http Proxy Username</key></entry><entry><key>Http Proxy Password</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Get A Single NOAA File</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles that are received are routed to success</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.GetFTP</type></processors><processors><id>c2700753-9a9f-480b-80eb-5c28514529db</id><parentGroupId>4a88bb54-7095-486b-8aca-616756278d31</parentGroupId><position><x>1068.2650756835938</x><y>593.0470733642578</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Regular Expression</key><value><defaultValue>(?s:^.*$)</defaultValue><description>The Regular Expression to search for in the FlowFile content</description><displayName>Regular Expression</displayName><dynamic>false</dynamic><name>Regular Expression</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Replacement Value</key><value><defaultValue>$1</defaultValue><description>The value to replace the regular expression with. Back-references to Regular Expression capturing groups are supported, but back-references that reference capturing groups that do not exist in the regular expression will be treated as literal value.</description><displayName>Replacement Value</displayName><dynamic>false</dynamic><name>Replacement Value</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Character Set</key><value><defaultValue>UTF-8</defaultValue><description>The Character Set in which the file is encoded</description><displayName>Character Set</displayName><dynamic>false</dynamic><name>Character Set</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum Buffer Size</key><value><defaultValue>1 MB</defaultValue><description>Specifies the maximum amount of data to buffer (per file or per line, depending on the Evaluation Mode) in order to apply the regular expressions. If 'Entire Text' (in Evaluation Mode) is selected and the FlowFile is larger than this value, the FlowFile will be routed to 'failure'. In 'Line-by-Line' Mode, if a single line is larger than this value, the FlowFile will be routed to 'failure'. A default value of 1 MB is provided, primarily for 'Entire Text' mode. In 'Line-by-Line' Mode, a value such as 8 KB or 16 KB is suggested. This value is ignored and the buffer is not used if 'Regular Expression' is set to '.*'</description><displayName>Maximum Buffer Size</displayName><dynamic>false</dynamic><name>Maximum Buffer Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Evaluation Mode</key><value><allowableValues><displayName>Line-by-Line</displayName><value>Line-by-Line</value></allowableValues><allowableValues><displayName>Entire text</displayName><value>Entire text</value></allowableValues><defaultValue>Entire text</defaultValue><description>Evaluate the 'Regular Expression' against each line (Line-by-Line) or buffer the entire file into memory (Entire Text) and then evaluate the 'Regular Expression'.</description><displayName>Evaluation Mode</displayName><dynamic>false</dynamic><name>Evaluation Mode</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Regular Expression</key><value>^(.{11})(.{4})(.{2})(.{4})(.{5})(.)(.)(.)_(.*)$</value></entry><entry><key>Replacement Value</key><value>{
	&quot;station&quot;: &quot;$1&quot;,
	&quot;year&quot;: &quot;$2&quot;,
	&quot;month&quot;: &quot;$3&quot;,
	&quot;day&quot;: &quot;$9&quot;,
	&quot;measurement_type&quot;: &quot;$4&quot;,
	&quot;measurement_value&quot;: &quot;$5&quot;,
	&quot;MFLAG&quot;: &quot;$6&quot;,
	&quot;QFLAG&quot;: &quot;$7&quot;,
	&quot;SFLAG&quot;: &quot;$8&quot;
}
</value></entry><entry><key>Character Set</key></entry><entry><key>Maximum Buffer Size</key></entry><entry><key>Evaluation Mode</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Format day files into json objects</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles that could not be updated are routed to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles that have been successfully updated are routed to this relationship, as well as FlowFiles whose content does not match the given Regular Expression</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.ReplaceText</type></processors><processors><id>7a0f6323-aa40-49b5-8411-a38353c18092</id><parentGroupId>4a88bb54-7095-486b-8aca-616756278d31</parentGroupId><position><x>1065.8046264648438</x><y>226.70640563964844</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Character Set</key><value><defaultValue>UTF-8</defaultValue><description>The Character Set in which the file is encoded</description><displayName>Character Set</displayName><dynamic>false</dynamic><name>Character Set</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum Buffer Size</key><value><defaultValue>1 MB</defaultValue><description>Specifies the maximum amount of data to buffer (per file) in order to apply the regular expressions.  Files larger than the specified maximum will not be fully evaluated.</description><displayName>Maximum Buffer Size</displayName><dynamic>false</dynamic><name>Maximum Buffer Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum Capture Group Length</key><value><defaultValue>1024</defaultValue><description>Specifies the maximum number of characters a given capture group value can have.  Any characters beyond the max will be truncated.</description><displayName>Maximum Capture Group Length</displayName><dynamic>false</dynamic><name>Maximum Capture Group Length</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Canonical Equivalence</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates that two characters match only when their full canonical decompositions match.</description><displayName>Enable Canonical Equivalence</displayName><dynamic>false</dynamic><name>Enable Canonical Equivalence</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Case-insensitive Matching</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates that two characters match even if they are in a different case.  Can also be specified via the embeded flag (?i).</description><displayName>Enable Case-insensitive Matching</displayName><dynamic>false</dynamic><name>Enable Case-insensitive Matching</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Permit Whitespace and Comments in Pattern</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>In this mode, whitespace is ignored, and embedded comments starting with # are ignored until the end of a line.  Can also be specified via the embeded flag (?x).</description><displayName>Permit Whitespace and Comments in Pattern</displayName><dynamic>false</dynamic><name>Permit Whitespace and Comments in Pattern</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable DOTALL Mode</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates that the expression '.' should match any character, including a line terminator.  Can also be specified via the embeded flag (?s).</description><displayName>Enable DOTALL Mode</displayName><dynamic>false</dynamic><name>Enable DOTALL Mode</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Literal Parsing of the Pattern</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates that Metacharacters and escape characters should be given no special meaning.</description><displayName>Enable Literal Parsing of the Pattern</displayName><dynamic>false</dynamic><name>Enable Literal Parsing of the Pattern</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Multiline Mode</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates that '^' and '$' should match just after and just before a line terminator or end of sequence, instead of only the begining or end of the entire input.  Can also be specified via the embeded flag (?m).</description><displayName>Enable Multiline Mode</displayName><dynamic>false</dynamic><name>Enable Multiline Mode</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Unicode-aware Case Folding</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>When used with 'Enable Case-insensitive Matching', matches in a manner consistent with the Unicode Standard.  Can also be specified via the embeded flag (?u).</description><displayName>Enable Unicode-aware Case Folding</displayName><dynamic>false</dynamic><name>Enable Unicode-aware Case Folding</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Unicode Predefined Character Classes</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Specifies conformance with the Unicode Technical Standard #18: Unicode Regular Expression Annex C: Compatibility Properties.  Can also be specified via the embeded flag (?U).</description><displayName>Enable Unicode Predefined Character Classes</displayName><dynamic>false</dynamic><name>Enable Unicode Predefined Character Classes</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Unix Lines Mode</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates that only the '
' line terminator is recognized in the behavior of '.', '^', and '$'.  Can also be specified via the embeded flag (?d).</description><displayName>Enable Unix Lines Mode</displayName><dynamic>false</dynamic><name>Enable Unix Lines Mode</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Include Capture Group 0</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Indicates that Capture Group 0 should be included as an attribute. Capture Group 0 represents the entirety of the regular expression match, is typically not used, and could have considerable length.</description><displayName>Include Capture Group 0</displayName><dynamic>false</dynamic><name>Include Capture Group 0</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>naming</key><value><description></description><displayName>naming</displayName><dynamic>true</dynamic><name>naming</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Character Set</key></entry><entry><key>Maximum Buffer Size</key></entry><entry><key>Maximum Capture Group Length</key></entry><entry><key>Enable Canonical Equivalence</key></entry><entry><key>Enable Case-insensitive Matching</key></entry><entry><key>Permit Whitespace and Comments in Pattern</key></entry><entry><key>Enable DOTALL Mode</key></entry><entry><key>Enable Literal Parsing of the Pattern</key></entry><entry><key>Enable Multiline Mode</key></entry><entry><key>Enable Unicode-aware Case Folding</key></entry><entry><key>Enable Unicode Predefined Character Classes</key></entry><entry><key>Enable Unix Lines Mode</key></entry><entry><key>Include Capture Group 0</key></entry><entry><key>naming</key><value>^(.{11})(.{4})(.{2})(.{4})(.{5})(.)(.)(.)_(.*)$</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Get Json data for flowfile attributes</name><relationships><autoTerminate>false</autoTerminate><description>FlowFiles are routed to this relationship when the Regular Expression is successfully evaluated and the FlowFile is modified as a result</description><name>matched</name></relationships><relationships><autoTerminate>true</autoTerminate><description>FlowFiles are routed to this relationship when no provided Regular Expression matches the content of the FlowFile</description><name>unmatched</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.ExtractText</type></processors><processors><id>1c509a6c-664e-482a-b1a0-4da1864d6998</id><parentGroupId>4a88bb54-7095-486b-8aca-616756278d31</parentGroupId><position><x>480.888930429418</x><y>827.9226606722775</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Line Split Count</key><value><description>The number of lines that will be added to each split file</description><displayName>Line Split Count</displayName><dynamic>false</dynamic><name>Line Split Count</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Header Line Count</key><value><defaultValue>0</defaultValue><description>The number of lines that should be considered part of the header; the header lines will be duplicated to all split files</description><displayName>Header Line Count</displayName><dynamic>false</dynamic><name>Header Line Count</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Remove Trailing Newlines</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Whether to remove newlines at the end of each split file. This should be false if you intend to merge the split files later</description><displayName>Remove Trailing Newlines</displayName><dynamic>false</dynamic><name>Remove Trailing Newlines</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Line Split Count</key><value>1</value></entry><entry><key>Header Line Count</key></entry><entry><key>Remove Trailing Newlines</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Break day lines into single day files</name><relationships><autoTerminate>true</autoTerminate><description>If a file cannot be split for some reason, the original file will be routed to this destination and nothing will be routed elsewhere</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>The original input file will be routed to this destination when it has been successfully split into 1 or more files</description><name>original</name></relationships><relationships><autoTerminate>false</autoTerminate><description>The split files will be routed to this destination when an input file is successfully split into 1 or more split files</description><name>splits</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.SplitText</type></processors><processors><id>653537f3-2bf3-4b24-9263-08780f6b16bd</id><parentGroupId>4a88bb54-7095-486b-8aca-616756278d31</parentGroupId><position><x>474.0</x><y>669.3756408691406</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Regular Expression</key><value><defaultValue>(?s:^.*$)</defaultValue><description>The Regular Expression to search for in the FlowFile content</description><displayName>Regular Expression</displayName><dynamic>false</dynamic><name>Regular Expression</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Replacement Value</key><value><defaultValue>$1</defaultValue><description>The value to replace the regular expression with. Back-references to Regular Expression capturing groups are supported, but back-references that reference capturing groups that do not exist in the regular expression will be treated as literal value.</description><displayName>Replacement Value</displayName><dynamic>false</dynamic><name>Replacement Value</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Character Set</key><value><defaultValue>UTF-8</defaultValue><description>The Character Set in which the file is encoded</description><displayName>Character Set</displayName><dynamic>false</dynamic><name>Character Set</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum Buffer Size</key><value><defaultValue>1 MB</defaultValue><description>Specifies the maximum amount of data to buffer (per file or per line, depending on the Evaluation Mode) in order to apply the regular expressions. If 'Entire Text' (in Evaluation Mode) is selected and the FlowFile is larger than this value, the FlowFile will be routed to 'failure'. In 'Line-by-Line' Mode, if a single line is larger than this value, the FlowFile will be routed to 'failure'. A default value of 1 MB is provided, primarily for 'Entire Text' mode. In 'Line-by-Line' Mode, a value such as 8 KB or 16 KB is suggested. This value is ignored and the buffer is not used if 'Regular Expression' is set to '.*'</description><displayName>Maximum Buffer Size</displayName><dynamic>false</dynamic><name>Maximum Buffer Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Evaluation Mode</key><value><allowableValues><displayName>Line-by-Line</displayName><value>Line-by-Line</value></allowableValues><allowableValues><displayName>Entire text</displayName><value>Entire text</value></allowableValues><defaultValue>Entire text</defaultValue><description>Evaluate the 'Regular Expression' against each line (Line-by-Line) or buffer the entire file into memory (Entire Text) and then evaluate the 'Regular Expression'.</description><displayName>Evaluation Mode</displayName><dynamic>false</dynamic><name>Evaluation Mode</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Regular Expression</key><value>^(.{21})(.{8})(.{8})(.{8})(.{8})(.{8})(.{8})(.{8})(.{8})(.{8})(.{8})(.{8})(.{8})(.{8})(.{8})(.{8})(.{8})(.{8})(.{8})(.{8})(.{8})(.{8})(.{8})(.{8})(.{8})(.{8})(.{8})(.{8})(.{8})(.{8})(.{8})(.{8})$</value></entry><entry><key>Replacement Value</key><value>$1$2_01
$1$3_02
$1$4_03
$1$5_04
$1$6_05
$1$7_06
$1$8_07
$1$9_08
$1$10_09
$1$11_10
$1$12_11
$1$13_12
$1$14_13
$1$15_14
$1$16_15
$1$17_16
$1$18_17
$1$19_18
$1$20_19
$1$21_20
$1$22_21
$1$23_22
$1$24_23
$1$25_24
$1$26_25
$1$27_26
$1$28_27
$1$29_28
$1$30_29
$1$31_30
$1$32_31</value></entry><entry><key>Character Set</key></entry><entry><key>Maximum Buffer Size</key></entry><entry><key>Evaluation Mode</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Expand month lines into single day lines</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles that could not be updated are routed to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles that have been successfully updated are routed to this relationship, as well as FlowFiles whose content does not match the given Regular Expression</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.ReplaceText</type></processors><processors><id>7fd28dee-7a3a-4ad6-b9f6-c625c9ab67d6</id><parentGroupId>4a88bb54-7095-486b-8aca-616756278d31</parentGroupId><position><x>1068.31201171875</x><y>782.6199798583984</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Couchbase Cluster Controller Service</key><value><allowableValues><displayName>CouchbaseClusterService</displayName><value>7235e6f0-fda1-4f5c-a459-4b9b6c091613</value></allowableValues><description>A Couchbase Cluster Controller Service which manages connections to a Couchbase cluster.</description><displayName>Couchbase Cluster Controller Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.couchbase.CouchbaseClusterControllerService</identifiesControllerService><name>Couchbase Cluster Controller Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Bucket Name</key><value><defaultValue>default</defaultValue><description>The name of bucket to access.</description><displayName>Bucket Name</displayName><dynamic>false</dynamic><name>Bucket Name</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Document Type</key><value><allowableValues><displayName>Json</displayName><value>Json</value></allowableValues><allowableValues><displayName>Binary</displayName><value>Binary</value></allowableValues><defaultValue>Json</defaultValue><description>The type of contents.</description><displayName>Document Type</displayName><dynamic>false</dynamic><name>Document Type</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Document Id</key><value><description>A static, fixed Couchbase document id.Or an expression to construct the Couchbase document id.</description><displayName>Document Id</displayName><dynamic>false</dynamic><name>Document Id</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Persist To</key><value><allowableValues><displayName>MASTER</displayName><value>MASTER</value></allowableValues><allowableValues><displayName>NONE</displayName><value>NONE</value></allowableValues><allowableValues><displayName>ONE</displayName><value>ONE</value></allowableValues><allowableValues><displayName>TWO</displayName><value>TWO</value></allowableValues><allowableValues><displayName>THREE</displayName><value>THREE</value></allowableValues><allowableValues><displayName>FOUR</displayName><value>FOUR</value></allowableValues><defaultValue>NONE</defaultValue><description>Durability constraint about disk persistence.</description><displayName>Persist To</displayName><dynamic>false</dynamic><name>Persist To</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Replicate To</key><value><allowableValues><displayName>NONE</displayName><value>NONE</value></allowableValues><allowableValues><displayName>ONE</displayName><value>ONE</value></allowableValues><allowableValues><displayName>TWO</displayName><value>TWO</value></allowableValues><allowableValues><displayName>THREE</displayName><value>THREE</value></allowableValues><defaultValue>NONE</defaultValue><description>Durability constraint about replication.</description><displayName>Replicate To</displayName><dynamic>false</dynamic><name>Replicate To</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Couchbase Cluster Controller Service</key><value>7235e6f0-fda1-4f5c-a459-4b9b6c091613</value></entry><entry><key>Bucket Name</key><value>weather</value></entry><entry><key>Document Type</key></entry><entry><key>Document Id</key><value>${docid}</value></entry><entry><key>Persist To</key></entry><entry><key>Replicate To</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>PutCouchbaseKey</name><relationships><autoTerminate>true</autoTerminate><description>All FlowFiles that cannot written to Couchbase Server and can't be retried are routed to this relationship.</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles that cannot written to Couchbase Server but can be retried are routed to this relationship.</description><name>retry</name></relationships><relationships><autoTerminate>true</autoTerminate><description>All FlowFiles that are written to Couchbase Server are routed to this relationship.</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.couchbase.PutCouchbaseKey</type></processors><processors><id>ae3126d9-5f8c-4e22-8f9c-90fd9eb65f50</id><parentGroupId>4a88bb54-7095-486b-8aca-616756278d31</parentGroupId><position><x>1068.8046875</x><y>405.4762420654297</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>docid</key><value><description></description><displayName>docid</displayName><dynamic>true</dynamic><name>docid</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key></entry><entry><key>docid</key><value>${naming.1}_${naming.2}${naming.3}${naming.9}_${naming.4}</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Add docid and filename attributes</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors><processors><id>76ebd125-8b3f-427a-a19f-bcb7e56b3c85</id><parentGroupId>4a88bb54-7095-486b-8aca-616756278d31</parentGroupId><position><x>470.2462158203125</x><y>333.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Line Split Count</key><value><description>The number of lines that will be added to each split file</description><displayName>Line Split Count</displayName><dynamic>false</dynamic><name>Line Split Count</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Header Line Count</key><value><defaultValue>0</defaultValue><description>The number of lines that should be considered part of the header; the header lines will be duplicated to all split files</description><displayName>Header Line Count</displayName><dynamic>false</dynamic><name>Header Line Count</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Remove Trailing Newlines</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Whether to remove newlines at the end of each split file. This should be false if you intend to merge the split files later</description><displayName>Remove Trailing Newlines</displayName><dynamic>false</dynamic><name>Remove Trailing Newlines</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Line Split Count</key><value>1</value></entry><entry><key>Header Line Count</key></entry><entry><key>Remove Trailing Newlines</key><value>false</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Break File into single line files</name><relationships><autoTerminate>true</autoTerminate><description>If a file cannot be split for some reason, the original file will be routed to this destination and nothing will be routed elsewhere</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>The original input file will be routed to this destination when it has been successfully split into 1 or more files</description><name>original</name></relationships><relationships><autoTerminate>false</autoTerminate><description>The split files will be routed to this destination when an input file is successfully split into 1 or more split files</description><name>splits</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.SplitText</type></processors><processors><id>4110298b-0bac-4967-81dc-232bd738fb5b</id><parentGroupId>4a88bb54-7095-486b-8aca-616756278d31</parentGroupId><position><x>471.0</x><y>508.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Rate Control Criteria</key><value><allowableValues><displayName>data rate</displayName><value>data rate</value></allowableValues><allowableValues><displayName>flowfile count</displayName><value>flowfile count</value></allowableValues><allowableValues><displayName>attribute value</displayName><value>attribute value</value></allowableValues><defaultValue>data rate</defaultValue><description>Indicates the criteria that is used to control the throughput rate. Changing this value resets the rate counters.</description><displayName>Rate Control Criteria</displayName><dynamic>false</dynamic><name>Rate Control Criteria</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum Rate</key><value><description>The maximum rate at which data should pass through this processor. The format of this property is expected to be a positive integer, or a Data Size (such as '1 MB') if Rate Control Criteria is set to 'data rate'.</description><displayName>Maximum Rate</displayName><dynamic>false</dynamic><name>Maximum Rate</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Rate Controlled Attribute</key><value><description>The name of an attribute whose values build toward the rate limit if Rate Control Criteria is set to 'attribute value'. The value of the attribute referenced by this property must be a positive long, or the FlowFile will be routed to failure. This value is ignored if Rate Control Criteria is not set to 'attribute value'. Changing this value resets the rate counters.</description><displayName>Rate Controlled Attribute</displayName><dynamic>false</dynamic><name>Rate Controlled Attribute</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Time Duration</key><value><defaultValue>1 min</defaultValue><description>The amount of time to which the Maximum Data Size and Maximum Number of Files pertains. Changing this value resets the rate counters.</description><displayName>Time Duration</displayName><dynamic>false</dynamic><name>Time Duration</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Grouping Attribute</key><value><description>By default, a single &quot;throttle&quot; is used for all FlowFiles. If this value is specified, a separate throttle is used for each value specified by the attribute with this name. Changing this value resets the rate counters.</description><displayName>Grouping Attribute</displayName><dynamic>false</dynamic><name>Grouping Attribute</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Rate Control Criteria</key><value>flowfile count</value></entry><entry><key>Maximum Rate</key><value>10</value></entry><entry><key>Rate Controlled Attribute</key></entry><entry><key>Time Duration</key><value>10 min</value></entry><entry><key>Grouping Attribute</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Slow Ingest Rate to 10 lines</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are transferred to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>false</supportsParallelProcessing><type>org.apache.nifi.processors.standard.ControlRate</type></processors></snippet><timestamp>10/26/2015 18:49:12 UTC</timestamp></template>
